.ui.segment{
  border-radius: 0;
}

.ui.inverted.menu{
  background: #272525;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background: #272525;
  color: rgba(255,255,255,.9);
}

.bars{
  cursor: pointer;
  font-size: 1.8em;
  margin-top: 0.4em;
  color: white;
}

.title-main{
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-top: 0.5em;
  color: white;
}

.in{
  color: rgb(146 145 145);
  font-size: 0.8em;
  margin-left: 2px;
  margin-top: 4px;
}

.ui.segment{
  margin: 0;
}

.yt-icon{
  height: 1.3em;
  vertical-align: sub;
  margin-left: -6px;
}

.title{
  vertical-align: top;
  margin-left: 2px;
  font-size: 22px;
  font-family: 'Oswald', sans-serif !important;
}

.youtube{
  color: red;
  font-size: 1.3em;
  margin: 0;
  vertical-align: middle;
}

.sideTitle{
  margin-left: 2em;
  font-weight: 600;
}